In [1]:
#LIST AND ITS DEFAULT FUNCTIONS-->

lst = [60 , 40, "cat", "dog", "50.5", "animal"]

In [2]:
print(lst)

[60, 40, 'cat', 'dog', '50.5', 'animal']

In [3]:
lst.append("tiger")

In [4]:
print(lst)

[60, 40, 'cat', 'dog', '50.5', 'animal', 'tiger']

In [5]:
lst.extend( ["duck", "50"] )

In [6]:
print(lst)

[60, 40, 'cat', 'dog', '50.5', 'animal', 'tiger', 'duck', '50']

In [7]:
lst.insert(1,"fly")

In [8]:
print(lst)

[60, 'fly', 40, 'cat', 'dog', '50.5', 'animal', 'tiger', 'duck', '50']

In [9]:
lst.remove("duck")

In [10]:
print(lst)

[60, 'fly', 40, 'cat', 'dog', '50.5', 'animal', 'tiger', '50']

In [11]:
lst.remove("frame")

ValueError: list.remove(x): x not in list

In [12]:
lst.pop()  #last element is removed

'50'

In [13]:
lst.pop(0)  #mentioned index element is popped

60

In [14]:
print(lst)

['fly', 40, 'cat', 'dog', '50.5', 'animal', 'tiger']

In [15]:
lst.clear()

In [16]:
print(lst)

[]

In [17]:
lst = [60 , 40, "cat", "dog", "50.5", "animal"]

In [18]:
lst.index("cat")

2

In [21]:
lst.count("dog")

1

In [22]:
lst.append("cat")

In [23]:
print(lst)

[60, 40, 'cat', 'dog', '50.5', 'animal', 'cat']

In [25]:
lst.count("cat")

2

In [26]:
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
num = [3, 1, 7, 1.6 ,35 ,700 ,234 ,567]

In [32]:
num.sort()
print(num)

[1, 1.6, 3, 7, 35, 234, 567, 700]

In [34]:
lst.reverse()
print(lst)

[60, 40, 'cat', 'dog', '50.5', 'animal', 'cat']

In [36]:
num.reverse()
print(num)

[1, 1.6, 3, 7, 35, 234, 567, 700]

In [37]:
whole = [9,8,7,6,5,4,3,2,1]
whole.reverse()
print(whole)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
b =whole.copy()
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
print(whole)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
print(len(whole))

9

In [46]:
print(len(lst))

7

In [47]:
print(list())

print(list([]))

print(list([1,6,9,89]))

print(list([["a","b","c"]]))

a = "bee"
print(list(a))

a = ("I", "am", "a", "tuple")
print(list(a))

a={"I", "am", "a", "set"}
print(list(a))

[]
[]
[1, 6, 9, 89]
[['a', 'b', 'c']]
['b', 'e', 'e']
['I', 'am', 'a', 'tuple']
['a', 'am', 'set', 'I']

In [1]:
#TUPLES AND ITS DEFALUT  FUCTIONS

In [2]:
tup1 = ("pysics", "chemistry", 1900, 1800)
tup2 = (1,2,3,4,9,8)

In [3]:
tup1.index(1900)

2

In [5]:
print("tup1[1]:", tup1[0])
print("tup2[1:5]:",tup2[1:5])

tup1[1]: pysics
tup2[1:5]: (2, 3, 4, 9)

In [6]:
tup3 = tup1 + tup2
print(tup3)

('pysics', 'chemistry', 1900, 1800, 1, 2, 3, 4, 9, 8)

In [7]:
print(tup3)
del tup3
print("after deleting tuple:")
print(tup3)

('pysics', 'chemistry', 1900, 1800, 1, 2, 3, 4, 9, 8)
after deleting tuple:

NameError: name 'tup3' is not defined

In [9]:
tup2.count(8)

1

In [10]:
len(tup2)

6

In [11]:
(tup1)*4

('pysics',
 'chemistry',
 1900,
 1800,
 'pysics',
 'chemistry',
 1900,
 1800,
 'pysics',
 'chemistry',
 1900,
 1800,
 'pysics',
 'chemistry',
 1900,
 1800)

In [12]:
9 in tup2

True

In [13]:
tup1[1]

'chemistry'

In [14]:
tup2[-2]

9

In [15]:
tup1[1:]

('chemistry', 1900, 1800)

In [16]:
max(tup2)

9

In [17]:
min(tup2)

1

In [18]:
max(tup1)

TypeError: '>' not supported between instances of 'int' and 'str'

In [20]:
tup2[6]= 1900

TypeError: 'tuple' object does not support item assignment

In [21]:
#DICTIONARY AND ITS DEFALUT FUNCTIONS

In [23]:
dict = {'Name': 'Ramya', 'Age': 18, 'Class':'First'}
print("dict['Name']:", dict['Name'])
print("dict['Age']:", dict['Age'])
print("dict['Name']:", dict['name'])

dict['Name']: Ramya
dict['Age']: 18

KeyError: 'name'

In [24]:
dict['Age'] = 20  #UPDATING EXSISTING ENTRY
dict [ 'school'] = "CKS"  #ADD NEW ENTRY

print("dict['Age']:", dict['Age'])
print("dict['school']:", dict['school'])

dict['Age']: 20
dict['school']: CKS

In [25]:
print(dict)

{'Name': 'Ramya', 'Age': 20, 'Class': 'First', 'school': 'CKS'}

In [26]:
del dict['Name'] #removing entry with key name
print(dict)

{'Age': 20, 'Class': 'First', 'school': 'CKS'}

In [27]:
dict.copy()

{'Age': 20, 'Class': 'First', 'school': 'CKS'}

In [29]:
dict.pop('school')

'CKS'

In [35]:
dict.clear()
print(dict)

{}

In [36]:
seq = ('name', 'age', 'school')

dict = dict.fromkeys(seq)
print("New dictionary : %s" % str(dict))

dict = dict.fromkeys(seq, 10)
print("New dictionary : %s" % str(dict))

New dictionary : {'name': None, 'age': None, 'school': None}
New dictionary : {'name': 10, 'age': 10, 'school': 10}

In [38]:
dict1 = {"Name": "Vadi", "Age": 30, "School": "KVS"}
print(dict1)

{'Name': 'Vadi', 'Age': 30, 'School': 'KVS'}

In [41]:
dict2= dict1.copy()
print(dict2)
print(dict1)

{'Name': 'Vadi', 'Age': 30, 'School': 'KVS'}
{'Name': 'Vadi', 'Age': 30, 'School': 'KVS'}

In [46]:
print ("value :%s" % dict1.get('Age'))
print ("value : %s" % dict1.get('never'))

value :30
value : None

In [47]:
print( "value : %s" % dict1.items())

value : dict_items([('Name', 'Vadi'), ('Age', 30), ('School', 'KVS')])

In [49]:
dict1.popitem()
print(dict1)

{'Name': 'Vadi', 'Age': 30}

In [50]:
print( "value : %s" % dict1.values())

value : dict_values(['Vadi', 30])

In [52]:
dict3={ "sex": "male"}
dict1.update(dict3)
print(dict1)
print(dict3)

{'Name': 'Vadi', 'Age': 30, 'sex': 'male'}
{'sex': 'male'}

In [7]:
dict1 ={ "Name": "Ramya", "Age": "kavya" ,"sex" : "female"}
print(dict1)
print ("value : %s" % dict1.keys())

{'Name': 'Ramya', 'Age': 'kavya', 'sex': 'female'}
value : dict_keys(['Name', 'Age', 'sex'])

In [12]:
print("Value : %s" % dict1.setdefault("Name", None))
print(dict1)

Value : Ramya
{'Name': 'Ramya', 'Age': 'kavya', 'sex': 'female'}

In [13]:
#STRING AND ITS FUNCTIONS

In [16]:
a ="Hello"
b ="Hey dude"
print(a,"  " ,b)

Hello    Hey dude

In [17]:
print(len(a))

5

In [18]:
print(1+2)
print("1"+"2")

3
12

In [19]:
c = "pic123"
d = "1234"

print(c.isnumeric())
print(d.isnumeric())

False
True

In [23]:
e = 'Once again he asked "How long is a piece of String?"'
print(e)

Once again he asked "How long is a piece of String?"

In [24]:
e = "Once again he asked \"How long is a piece of String?\""
print(e)

Once again he asked "How long is a piece of String?"

In [26]:
msg = "ATTENTION!\rFor those about to rock , we salute you!"
print(msg)

For those about to rock , we salute you!

In [30]:
msg = """This  string
spans
multiple lines"""
print(msg)

This  string
spans
multiple lines

msg = '''This  string
spans
multiple lines'''
print(msg)

In [37]:
sen = " hello guys , whats going on"

print(sen[2])

e

In [38]:
print(sen[2:5])

ell

In [39]:
print("Hello %s, you scored %i out of %i" %("Homer",3,100))

Hello Homer, you scored 3 out of 100

In [41]:
name = "merry christmus"
name.capitalize()

'Merry christmus'

In [43]:
name.casefold()

'merry christmus'

In [52]:
shell = "monday sunday"
shell.encode()

b'monday sunday'

In [54]:
#set and its default function

In [55]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
cherry
apple

In [57]:
print("banana" in thisset)

True

In [58]:
#add items

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

In [59]:
#update set
thisset.update(["mango","grapes"])
print(thisset)

{'orange', 'apple', 'mango', 'cherry', 'banana', 'grapes'}

In [60]:
#length of set

print(len(thisset))

6

In [61]:
#remove item

thisset.remove("banana")
print(thisset)

{'orange', 'apple', 'mango', 'cherry', 'grapes'}

In [63]:
thisset.discard("orange")
print(thisset)

{'apple', 'mango', 'cherry', 'grapes'}

In [64]:
x= thisset.pop()
print(x)
print(thisset)

apple
{'mango', 'cherry', 'grapes'}

In [65]:
del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [66]:
#join two sets

set1 = {"a", "b", "c"}
set2 = {1,2,3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [67]:
thisset = set(("apple","banana","cherry"))
print(thisset)

{'banana', 'cherry', 'apple'}

In [69]:
fruit =thisset.copy()
print(fruit)

{'banana', 'cherry', 'apple'}

In [70]:
fruit.clear()
print(fruit)

set()

In [73]:
z = thisset.difference(set1)
print(z)

{'apple', 'cherry', 'banana'}

In [77]:
x ={"x","z","g"}
a ={"x","m","n"}
x.difference_update(a)
print(x)

{'z', 'g'}

In [78]:
a.discard("m")
print(a)

{'n', 'x'}

In [81]:
m = { "super","good","beautiful"}
n = {"good","wise","excellent"}
o = m.intersection(n)
print(o)

{'good'}

In [82]:
m.intersection_update(n)
print(m)

{'good'}

In [83]:
x = {"read", "write"}
z = m.isdisjoint(y)
print(z)

NameError: name 'y' is not defined